<form action="/update/{{EditId.id}}" enctype="application/x-www-form-urlencoded">
  <h1>Change IT group</h1>
  <input type="text" placeholder="ism" name="name" required value="{{EditId.name}}"/>
  <input type="text" placeholder="familiya" name="surname" required value="{{EditId.surname}}"/>
  <input type="number" placeholder="guruh" name="group" required value="{{EditId.group}}"/>
  <input type="text" placeholder="yonalishi" name="direction" required value="{{EditId.direction}}"/>
  <input type="number" placeholder="ball" name="score" required value="{{EditId.score}}"/>
  <button>update</button>
</form>